
<body>
    <!-- Navigation-->
    
    <!-- Header-->
	<main>
		<style>
			.formulario { 
		  margin: 10px;
		  padding: 20px;
		  border-radius: 20px;
		  background:rgba(0, 0, 0, 0.72);
		  width: 100%;
		  height: 100%;
		  color: white;
		  text-decoration: border;
		  position: relative;
		  top: 0 ;
		  left: 0;
		  }
		  </style>
		
		
		<form action="/users/signin" method="POST" class="formulario" id="formulario">
			
			<!-- Grupo: Usuario -->
			<div class="formulario__grupo" id="grupo__usuario">
				<h2><strong>Inicio de Sesion:</strong></h2>
				<br>
				<label for="usuario" class="formulario__label">Email</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" name="email" id="usuario" placeholder="User">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>

					

				</div>
				<p class="formulario__input-error">Debe ingresar el usuario registrado</p>
			</div>

			<!-- Grupo: Contraseña -->
			<div class="formulario__grupo" id="grupo__password">
				<br><br><br>
				<label for="password" class="formulario__label">Contraseña</label>
				<div class="formulario__grupo-input">
					<input type="password" class="formulario__input" name="password" id="password">
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
				<p class="formulario__input-error"></p>
			</div>

			<!-- Grupo: Terminos y Condiciones -->
			<div class="formulario__grupo" id="grupo__terminos">
				<label class="formulario__label">
					<input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
					Olvidó tu contraseña?
				</label>
			</div>

			<div class="formulario__mensaje" id="formulario__mensaje">
				
			</div>

			<div class="formulario__grupo formulario__grupo-btn-enviar">
				<button class="formulario__btn">Ingresar</button>
				<br>
				<p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Bienvenido!</p>
			</div>
		</form>
	</main>

	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


	<script src="/static/js/registroUsuario.js"></script>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>

	<!-- Footer-->
	<footer class="py-5 bg-dark">
		<div class="container"><p class="m-0 text-center text-white">Copyright &copy; 2021 EQUIPO 3 GRUPO 17. TODOS LOS DERECHOS RESERVADOS.
			©  UNINORTE - MINTIC © | Email: info@phillips.com | Teléfono: (+57) 601 235 846.</p></div>
	</footer>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
	<!-- Scrips de Login de usuarios -->
	<script src="/static/js/registroUsuario.js"></script>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
</body>
</html>